:javascript
  console.log('Hello world')


  1 + 2 = 100


  console.log("ok")


  if (true) {
    doSomething();
  } else {() => {
    es6Baby();
  }}
:ruby
  - puts "Hello world"
  - (1..5).each do |x|
  -   puts x
  - end