:javascript
  console.log('Hello world')


  1 + 2 = 100


  console.log("ok")


  if (true) {
    doSomething();
  } else {() => {
    es6Baby();
  }}
"not js"
:ruby
  - puts "Hello world"
  - (1..5).each do |x|
  -   puts x
  - end
:opal
  - puts "Hello world"
  - (1..5).each do |x|
  -   puts x
  - end
:coffee
  # Assignment:
  number   = 42
  opposite = true

  # Conditions:
  number = -42 if opposite

  # Functions:
  square = (x) -> x * x

  # Arrays:
  list = [1, 2, 3, 4, 5]

  # Objects:
  math =
    root:   Math.sqrt
    square: square
    cube:   (x) -> x * square x

  # Splats:
  race = (winner, runners...) ->
    print winner, runners

  # Existence:
  alert "I knew it!" if elvis?

  # Array comprehensions:
  cubes = (math.cube num for num in list)
<script>
  console.log(1 + 100);
</script>